In [1]:
a = [1, 2, 3, 4]
for element in a:
    print(element)

1
2
3
4

In [2]:
a = ["apple", "banana", "Microsoft"]
for e in a:
    print(e)
    print(e)

apple
apple
banana
banana
Microsoft
Microsoft

In [5]:
a = print(list(range(1,100)))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [8]:
for i in range(1,50):
    if (i % 2 == 0):
        print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48

In [9]:
k = list(range(1,100))
total = 0
for j in k:
    if (j % 3 == 0):
        if (j % 5 == 0):
            total += j
print(j)

99

In [11]:
d = list(range(1,50))
for l in d:
    if (l % 3 == 0):
        if (l % 5 == 0):
            print(l)

15
30
45